.mainSection{
    display: flex;
    justify-content: center;
    align-items: center;
}

#langChoiceIcons img {
    width: 35px;
    padding-right: 3px;
    filter: opacity(30%);
}

#langChoiceIcons img.active {
    filter: drop-shadow(8px 0px 17px gray);
}
.logo-helplogin{
    font-size:70px;
}
.faq-section {
    background: #fdfdfd;
    min-height: 100vh;
    padding: 2vh 0 0;
    margin: 20px;
}

@media screen and (min-width: 1282px) {
    .faq-section{
        max-width: 35%;
    }
}
@media screen and (max-width: 1282px) {
    .faq-section{
        max-width: 45%;
    }
}
@media screen and (max-width: 1162px) {
    .faq-section{
        max-width: 50%;
    }
}
@media screen and (max-width: 912px) {
    .faq-section{
        max-width: 70%;
    }
}
@media screen and (max-width: 767px) {
    .faq-section{
        max-width: 90%;
    }
}



.faq-title h2 {
    position: relative;
    margin-bottom: 45px;
    display: inline-block;
    font-weight: 600;
    line-height: 1;
}
.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: #19b6d3;
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
    padding: 0 190px;
    margin-bottom: 10px;
}
.text-center{
    text-align:center;
}
.faq {
    background: #FFFFFF;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.faq .card {
    border: none;
    background: none;
    border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
    padding: 0px;
    border: none;
    background: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: rgba(111, 231, 255, 0.51);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
    width: 100%;
    text-align: left;
    padding: 0px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 1px;
    color: #3B566E;
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
    display: inline-block;
    width: 33px;
    height: 33px;
    line-height: 14px;
    float: left;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    background: linear-gradient(41deg, #216dbdc4, #216dbde8, #216dbd, #216dbde8, #216dbdc4);
    color: #fff;
    font-size: 18px;
    margin: -9px 18px 0px 0px;
    padding: 10px;
}

.faq .card .card-body {
    padding: 30px;
    padding-left: 35px;
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px;
    border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
    margin-bottom: 14px;
}
.faq .card .card-body img {
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    max-width:100%;
}

@media (max-width: 991px) {
    .faq {
        margin-bottom: 30px;
    }
    .faq .card .card-header .faq-title {
        line-height: 26px;
        margin-top: 10px;
    }
}
.onex-logo-container-base {
    width: 100%;
    min-height: 70px;
    background-color: white;
    box-shadow: 1px 2px 5px #E0E0E0;
}

.df-jcc-fdc{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mt-1r{
    margin-top: 1rem;
}
